<nav>
<h2>Edit: <%= @can.caption %></h2>
<ul>
  <li><%= link_to "Index", "/" %></li>
  <li><%= link_to "Add a new beercan", "/" %></li>
</ul>
</nav>

<div class="picture">
  <%= image_tag @can.url, :size => "250x250" %>
</div>

<%= render "form" %>


