<h1>New Beercan</h1>
<%= form_tag beercans_url do %>
  <fieldset>
    <%= label_tag "image url" %>
    <%= text_field_tag :url %>
  </fieldset>
  <fieldset>
    <%= label_tag "caption" %>
    <%= text_field_tag :caption %>
  </fieldset>
  <fieldset>
    <%= label_tag "brewery" %>
    <%= text_field_tag :brewery %>
  </fieldset>
  <fieldset>
    <%= label_tag "brew year" %>
    <%= text_field_tag :year_brewed %>
  </fieldset>
  <%= submit_tag "submit" %>
<% end %>

<!-- <a href=<%# beercans_url %>><button name="button">cancel</button></a> -->
